@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --mainFont: "Rubik", serif;
}

.light-theme {
  --fgClr: #191d2b;
  --bgClr: #e6e6e6;
  --primaryClr1: #9cb9ed;
  --primaryClr2: #7088de;
  --primaryClr: #3f4493;
  --primaryClr3: #3f4493;
  --primaryClr4: #29266c;
  --primaryClr5: #19164f;
}

.dark-theme {
  --fgClr: #e6e6e6;
  --bgClr: #191d2b;
  --primaryClr1: #7bffd2;
  --primaryClr2: #4ecba8;
  --primaryClr: #35aa90;
  --primaryClr3: #1f7e76;
  --primaryClr4: #1b585a;
  --primaryClr5: #163a42;
}

.clip-path-border{
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.clip-path{
  clip-path: polygon(50% 5%, 95% 50%, 50% 95%, 5% 50%);
}

.anim-glow-drop{
  animation: glowing-drop-shadow 5s infinite;
}

@keyframes glowing-drop-shadow{
  0% { filter: drop-shadow(1px 1px 4px var(--primaryClr))}
  50% { filter: drop-shadow(1px 1px 20px var(--primaryClr)) }
  100% { filter: drop-shadow(1px 1px 4px var(--primaryClr))}
}

.anim-glow-box, .rhombus{
  animation: glowing-box-shadow 5s infinite;
}

.rhombus:hover{
  /*!important because transform (rotation) can be controlled by ScrollEffects.jsx*/
  transform: rotate(225deg) !important;
}

@keyframes glowing-box-shadow{
  0% { box-shadow: 0 0 0 0.1rem var(--primaryClr) }
  50% { box-shadow: 0 0 0 0.4rem var(--primaryClr) }
  100% { box-shadow: 0 0 0 0.1rem var(--primaryClr) }
}

@layer components {
  *{
    @apply box-border;
  }
  
  body{
    @apply relative overflow-x-hidden;
  }

  #particles canvas {
    @apply absolute -z-50;
  }

  .nav-icon{
    @apply relative text-fgClr hover:text-bgClr;
  }

  section{
    @apply relative pb-[30vh] w-screen h-fit flex flex-col justify-center items-center;
  }

  a, .char, .word, div{
    @apply relative font-mainFont;
  }

  a, .char, .word{
    @apply text-fgClr hover:text-primaryClr;
  }

  input, textarea{
    @apply xl:text-2xl md:text-xl text-lg bg-fgClr text-bgClr;
  }

  .slide-in{
    @apply fixed w-full h-[20vh] origin-left
  }

  .slide-out{
    @apply fixed w-full h-[20vh] origin-right
  }
}

.slide-in-0{
  top: 0;
  background: var(--primaryClr1);
}

.slide-in-1{
  top: 20%;
  background: var(--primaryClr2);
}

.slide-in-2{
  top: 40%;
  background: var(--primaryClr);
}

.slide-in-3{
  top: 60%;
  background: var(--primaryClr4);
}

.slide-in-4{
  top: 80%;
  background: var(--primaryClr5);
}

/*slide-out********************************************************/

.slide-out-0{
  top: 0;
  background: var(--primaryClr1);
}

.slide-out-1{
  top: 20%;
  background: var(--primaryClr2);
}

.slide-out-2{
  top: 40%;
  background: var(--primaryClr);
}

.slide-out-3{
  top: 60%;
  background: var(--primaryClr4);
}

.slide-out-4{
  top: 80%;
  background: var(--primaryClr5);
}