@tailwind base;
@tailwind components;
@tailwind utilities;

.light-theme {
  --fgClr: #191d2b;
  --bgClr: #ffffff;
  --primaryClr: #1974c2;
}

.dark-theme {
  --fgClr: #ffffff;
  --bgClr: #191d2b;
  --primaryClr: #35aa90;
}

@media (prefers-color-scheme: light) {
  :root {
    --fgClr: #191d2b;
    --bgClr: #ffffff;
    --primaryClr: #1974c2;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --fgClr: #ffffff;
    --bgClr: #191d2b;
    --primaryClr: #35aa90;
  }
}

#hero{
  animation: hero 5s infinite;
}

@keyframes hero{
  0% { filter: drop-shadow(0 0 0 rgba(0,0,0,0))}
  50% { filter: drop-shadow(1px 1px 20px var(--primaryClr)) }
}

@layer components {
  #particles canvas {
    @apply absolute -z-10;
  }

  section{
    @apply relative w-[98vw] h-screen
  }

  div{
    @apply text-fgClr hover:text-primaryClr;
  }
  
}
