@tailwind base;
@tailwind components;
@tailwind utilities;

.light-theme {
  --fgClr: #191d2b;
  --bgClr: #e6e6e6;
  --primaryClr: #3f4493;
}

.dark-theme {
  --fgClr: #e6e6e6;
  --bgClr: #191d2b;
  --primaryClr: #35aa90;
}

.clip-path{
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

nav, #hero{
  animation: glowing-drop-shadow 5s infinite;
}

@keyframes glowing-drop-shadow{
  0% { filter: drop-shadow(0 0 0 rgba(0,0,0,0))}
  50% { filter: drop-shadow(1px 1px 20px var(--primaryClr)) }
}

@layer components {
  *{
    @apply box-border ;
  }

  body{
    @apply overflow-x-hidden;
  }

  #particles canvas {
    @apply absolute -z-50;
  }

  section{
    @apply relative w-screen;
  }

  a, div{
    @apply relative text-fgClr;
  }
  
  .char{
    @apply relative hover:text-primaryClr;
  }
  
}
